:root {
    --md-primary-fg-color:        #C45AB3;
    --md-primary-fg-color--light: #C45AB3;
    --md-primary-fg-color--dark:  #C45AB3;
    --md-accent-fg-color:         #C45AB3;
}

* {
    letter-spacing: 0.02rem;
}
.md-content__inner h1, .md-content__inner h2, .md-content__inner h3 {
    letter-spacing: 0.02rem;
    font-weight: 500;
}
.md-content__inner h4, .md-content__inner h5, .md-content__inner h6 {
    letter-spacing: 0.02rem;
}
strong {
    font-weight: 600!important;
}
.md-header--shadow {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),0px 0px 0px 0px rgba(0, 0, 0, 0.14),0px 0px 0px 0px rgba(0,0,0,.12);
}
.md-header__button.md-logo {
    padding: 0;
}
.md-header__button.md-logo img, .md-header__button.md-logo svg {
    width: 32px;
    height: 32px;
}
.md-header__title {
    margin-left: 8px!important;
}
.md-header__topic .md-ellipsis {
    font-weight: 600;
    letter-spacing: 0.06rem;
    overflow: unset;
    text-overflow: unset;
}
.md-content a[target="_blank"]::after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%23C45AB3" d="M14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3m-2 16H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7h-2z"></path></svg>');
    display: inline-block;
    height: 1.125em;
    width: 1.125em;
    vertical-align: text-top;
    margin-left: 4px;
}
.md-content a[href^="mailto:"]::after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%23C45AB3" d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0-8 5-8-5zm0 12H4V8l8 5 8-5z"></path></svg>');
    display: inline-block;
    height: 1.125em;
    width: 1.125em;
    vertical-align: text-top;
    margin-left: 4px;
}
/* .md-header__title--active .md-header__topic .md-ellipsis {
    font-weight: 500;
} */
/* label.md-nav__link {
    font-weight: 500;
} */
.md-consent__form h4 {
    letter-spacing: 0.02rem;
}
.md-typeset [type=checkbox]:checked + .task-list-indicator:before {
    background-color: var(--md-accent-fg-color);
}
.md-typeset [type=checkbox] + .task-list-indicator:before {
    left: -1.9em;
}

.md-typeset .admonition.warning, .md-typeset details.warning {
    border-color: #FFC107;
}
.md-typeset .warning>.admonition-title, .md-typeset .warning>summary {
    background-color: #FFC1071f;
}
.md-typeset .warning>.admonition-title:before, .md-typeset .warning>summary:before {
    background-color: #FFC107;
}

.youtube {
    color: #EE0F0F;
}
.tiktok {
    color: #010101;
}
.github {
    color: #171515;
}

.md-social a[title="Money Eva App"] svg {
    display: none;
}
.md-social a[title="Money Eva App"] {
    position: relative;
    width: auto;
    align-items: center;
    display: inline-flex;
}
.md-social a[title="Money Eva App"]::before {
    content: " ";
    width: 20px;
    height: 20px;
    background-image: url("https://moneyeva.com/favicon.ico");
    background-size: cover;
}
.md-social a[title="Money Eva App"]::after {
    content: "Money Eva App";
    font-size: 13px;
    margin-left: 8px;
    margin-right: 4px;
    position: relative;
    top: 1px;
}